@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-inter), var(--font-notoSerifThai),
    var(--font-notoSerifJP), sans-serif;
}

:root {
  --switch-duration: 2s;
}

::view-transition-old(root) {
  animation: scale var(--switch-duration);
}

::view-transition-new(root) {
  -webkit-mask: url(/gestalt.webp) center / 0 no-repeat;
  mask: url(/gestalt.webp) center / 0 no-repeat;
  animation: scale var(--switch-duration);
}

@keyframes scale {
  0% {
    -webkit-mask-size: 0;
    mask-size: 0;
  }

  10% {
    -webkit-mask-size: 30vmax;
    mask-size: 30vmax;
  }

  90% {
    -webkit-mask-size: 30vmax;
    mask-size: 30vmax;
  }

  to {
    -webkit-mask-size: 1000vmax;
    mask-size: 1000vmax;
  }
}
